################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs/mblwz/v16/.suo
/.vs/mblwz/v15/.suo
/mblwz.log
